.idea/*
platform_admins/scripts/test.sh

cloudbuild.yaml
infrastructure/*/backends/*_backend.tf
infrastructure/*/states/*_remote_state.tf
infrastructure/*/variables/gcp_vpc_variables.tf

infrastructure/*/*/*/.terraform*
infrastructure/*/*/*/terraform*

platform_admins/*/*/*/*.yaml

.DS_Store

