.idea/*
platform_admins/scripts/test.sh

platform_admins/builds/cloudbuild-prod.yaml
platform_admins/builds/cloudbuild-stage.yaml
platform_admins/builds/cloudbuild.yaml_tmpl_orig
platform_admins/builds/*-test.yaml

infrastructure/*/backends/*_backend.tf
infrastructure/*/states/*_remote_state.tf
infrastructure/*/variables/gcp_vpc_variables.tf
infrastructure/*/variables/project_variables.tf

infrastructure/*/*/*/.terraform*
infrastructure/*/*/*/terraform*

# platform_admins/*/*/*/*.yaml
platform_admins/starter_repos/anthos_config_management/namespaces/*/*-hydrated.yaml

platform_admins/tests/ob/*/*/cloud-ops-sa-secret.yaml

.DS_Store

wget-log
